@{
    Layout = "~/views/shared/_layout.cshtml";
}
<link href="~/content/bxslider/jquery.bxslider.css" type="text/css" rel="stylesheet" />
<div id="main" class="container">
    <div class="container-left fleft">
        <div id="banner-wrap">
            <ul class="bxslider">
                @{
                    var banners = ViewBag.banners as IEnumerable<BaWuClub.Web.Dal.ViewBanner>;
                    if (banners != null) {
                        foreach (var banner in banners) { 
                            <li><a href="@(banner.Url.Length>0?banner.Url:"#")"><img src="~/uploads/banner/@banner.Pic" /></a></li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="container-gather">
            <div class="menu-tab">
                <span data-menu="asks-list" data-url="/asks" class="current">最新提问</span>
                <span data-menu="contribute-list" data-url="/column">最新专栏文章</span>
                <span data-menu="discuss-list" data-url="/topic">最新帖子</span>
            </div>
            <div class="gather-wrap">
                <div class="asks-list">
                    <ul>
                        @{
                            var viewQuestions = ViewBag.questions as IEnumerable<BaWuClub.Web.Dal.ViewQuestion>;
                            if (viewQuestions != null)
                            {
                                foreach (var viewQuestion in viewQuestions)
                                {
                                    var name = viewQuestion.RealName.Length > 0 ? viewQuestion.RealName : viewQuestion.NickName;
                                    <li>
                                        <div class="cover-wrap fleft">
                                            <a href="/member/u-@viewQuestion.UserId/show/">
                                                @{
                                    var cover = "/content/images/no-img.jpg";
                                    var time = BaWuClub.Web.Common.HtmlCommon.GetTimeSpan(viewQuestion.VarDate ?? DateTime.Now);
                                    if (!string.IsNullOrEmpty(viewQuestion.Cover))
                                    {
                                        cover = "/uploads/avatar/small/" + viewQuestion.Cover;
                                    }
                                    var desc = BaWuClub.Web.Common.HtmlCommon.ClearHtml(viewQuestion.Description);
                                    desc = desc.Length > 150 ? desc.Substring(0, 149) : desc;
                                                }
                                                <img src="@cover" alt="头像" />
                                            </a>

                                        </div>
                                        <div class="question-detail">
                                            <p class="q-detail-top"><a href="/member/u-@viewQuestion.UserId/show/">@name</a><span>@time</span></p>
                                            <h3><a href="/ask/show/@viewQuestion.Id">@viewQuestion.Title</a></h3>
                                            <p class="q-detail-desc">@desc</p>
                                        </div>
                                        <div class="ask-other">
                                            <p><span></span></p>
                                            <p><span></span></p>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="contribute-list" style="display:none;">
                    <ul>
                        @{
                            var viewArticles = ViewBag.contributes as IEnumerable<BaWuClub.Web.Dal.ViewArticle>;
                            if (viewArticles != null)
                            {
                                foreach (var view in viewArticles)
                                {
                                    <li>
                                        <div class="cover-wrap fleft">
                                            <a href="/member/u-@view.UserCover/show/">
                                                @{
                                    var cover = "/content/images/no-img.jpg";
                                    var time = BaWuClub.Web.Common.HtmlCommon.GetTimeSpan(view.VarDate ?? DateTime.Now);
                                    if (!string.IsNullOrEmpty(view.Cover))
                                    {
                                        cover = "/uploads/avatar/small/" + view.Cover;
                                    }
                                                }
                                                <img src="@cover" alt="头像" />
                                            </a>
                                        </div>
                                        <div class="question-detail">
                                            <p class="q-detail-top"><a href="/member/u-@view.UserId/show">@view.RealName</a><span>@time</span></p>
                                            <h3><a href="/column/show/@view.Id">@view.Title</a></h3>
                                        </div>
                                        <div class="ask-other">
                                            <p><span></span></p>
                                            <p><span></span></p>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="discuss-list" style="display:none;">
                    @{
                        var topics = ViewBag.topics as IEnumerable<BaWuClub.Web.Dal.ViewTopicIndex>;
                        if (topics != null)
                        {
                            foreach (var t in topics)
                            {
                                var src = (string.IsNullOrEmpty(t.Cover) ? "../images/no-img.jpg" : "/uploads/avatar/small/" + t.Cover);
                                <div class="discuss-list-topic">
                                    <div class="discuss-list-topic-avatar">
                                        <a href="/member/u-@t.UserId/show"><img src="@src" alt="@t.NickName" title="@t.NickName" /></a>
                                    </div>
                                    <div class="discuss-list-topic-titles">
                                        <div class="topic-title">
                                            <a href="/forum/@(((BaWuClub.Web.Dal.TopicType)t.Type).ToString().ToLower())/@t.Id"><i class="tb-topic tb-topic-@(((BaWuClub.Web.Dal.TopicType)t.Type).ToString().ToLower())"></i>@t.Title</a>
                                        </div>
                                        <div class="topic-info">
                                            <a href="#">@t.NickName</a>
                                            <span class="discuss-list-topic-date"> @BaWuClub.Web.Common.HtmlCommon.GetTimeSpan(t.VarDate)</span>
                                            <span><i class="icon1-liulan"></i>@t.Views</span>
                                            <span><i class="icon1-xiai" style="font-size:12px;"></i>@t.Likes</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-right fright">
        <div class="down-wrap module">
            <div class="module-title">
                <i class="icon-item"></i><a href="/download">资料下载</a>
            </div>
            <div class="module-list">
                @{
                    var tags = ViewBag.tags;
                    if (tags != null) {
                        foreach (var tag in tags as IEnumerable<BaWuClub.Web.Dal.Tag>) { 
                            <a href='/download/search?keyword=@tag.TagName'> @tag.TagName</a>
                        }
                    }
                }
            </div>
        </div>
        <div class="login-wrap-m" style="display:none;">
            <form>
                <input type="text" name="name" value="" placeholder="邮箱/手机" />
                <input type="text" name="password" value="" placeholder="密码" /><a href="/account/forget" class="forget-pwd">忘记密码</a>
                <p><input type="checkbox" name="remember" id="remember" /><label for="remember">记住我</label></p>
                <input type="submit" name="login" value="登录" />
                <a href="Account/register" class="btn-register">注册</a>
            </form>
        </div>
        <div class="faqs-wrap module">
            <div class="module-title">
                <i class="icon-item"></i><a href="/download">问答</a>
            </div>
            <div class="module-list">
                <ul>
                    @{
                        var hots = ViewBag.hotQuestions as IEnumerable<BaWuClub.Web.Dal.ViewQuestion>;
                        if (hots != null) {
                            foreach (var item in hots) {
                                var title = item.Title.Length > 20 ? item.Title.Substring(0, 20) + "..." : item.Title;
                                <li><a href="/ask/show/@item.Id">@title</a></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="activity-wrap module">
            <div class="module-title">
                <i class="icon-item"></i><a href="/actitvty">活动</a>
            </div>
            <div class="module-list module-list-border">
                <ul>
                    @{
                        var activities = ViewBag.hotActivity as IEnumerable<BaWuClub.Web.Dal.ViewActivity>;
                        if (activities != null) {
                            foreach (var activity in activities) {
                                var startDate = (DateTime)activity.StartDate;
                                <li>
                                   <div class="activity-item-title">
                                       <img src="~/Uploads/activity/@activity.Cover" />
                                   </div>
                                    <div class="activity-item-info">
                                        <a href="/activity/show/@activity.Id"><p>@activity.Title<br /><span>@startDate.ToShortDateString()</span></p></a>
                                    </div>
                                </li> 
                            }
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/content/bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".bxslider").bxSlider({
             controls:false
        });
        $(".menu-tab span").each(function () {
            $(this).click(function () {
                $(this).siblings().removeClass("current");
                $(this).addClass("current");
                var wrap = $(this).attr("data-menu");
                var url = $(this).attr("data-url");
                $("." + wrap).siblings("div").hide();
                $("." + wrap).show();
                $(".more").attr("href",$(this).attr("data-url"));
            });
        });
        $(".activity-item-info").mouseover(function () {
            $(this).prev(".activity-item-title").slideDown();
            $(this).parent("li").siblings().children(".activity-item-title").slideUp();
        });
    })
</script>