@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "专栏-";
}
@model IEnumerable<BaWuClub.Web.Dal.ViewArticle>
<div class="container">
    <div class="container-left fleft">
        <div class="question-wrap">
            <div class="question-wrap-title"></div>
            <ul class="question-wrap-list">
                @{
                    foreach (var viewArticle in Model)
                    {
                        <li>
                            <div class="cover-wrap fleft">
                                <a href="/member/u-@viewArticle.UserId/show">
                                    @{
                                        var cover = "~/content/images/no-img.jpg";
                                        var time = BaWuClub.Web.Common.HtmlCommon.GetTimeSpan(viewArticle.VarDate ?? DateTime.Now);
                                        var context = BaWuClub.Web.Common.HtmlCommon.ClearHtml(viewArticle.Context);
                                        context = context.Length > 150 ? context.Substring(0, 149) : context;
                                        if (!string.IsNullOrEmpty(viewArticle.UserCover)){
                                            cover = viewArticle.UserCover;
                                        }
                                    }
                                    <img src="~/uploads/avatar/small/@cover" alt="头像" />
                                </a>

                            </div>
                            <div class="question-detail">
                                <p class="q-detail-top"><a href="/member/u-@viewArticle.UserId/show">@viewArticle.NickName</a><span>@time</span></p>
                                <h3><a href="/column/show/@viewArticle.Id">@viewArticle.Title</a></h3>
                                <p class="q-detail-desc">@context</p>
                            </div>
                            <div class="ask-other">
                                <p><span></span></p>
                                <p><span></span></p>
                            </div>
                        </li>
                    }
                }
            </ul>
            <div class="page-wrap">
                @Html.Raw(ViewBag.PageStr)
            </div>
        </div>
    </div>
    <div class="container-right fright">
        <div class="faqs-wrap module">
            <div class="module-title">
                <i class="icon-item"></i><a href="/download">最热门的问答</a>
            </div>
            <div class="module-list">
                <ul>                    
                    @{
                        if (ViewBag.HotQuestions != null) {
                            var hotQuestions = ViewBag.HotQuestions as IEnumerable<BaWuClub.Web.Dal.Question>;
                            foreach (var q in hotQuestions) {
                                var title = q.Title.Length > 20 ? q.Title.Substring(0, 20) + "..." : q.Title;
                                <li><a href="/ask/show/@q.Id">@title</a></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        @{
            Html.RenderPartial("~/views/shared/_PartialRightListHotArticles.cshtml");
        }
    </div>
</div>
