@{
    Layout = "~/views/shared/_layout.cshtml";

    ViewBag.Title += "八五专栏标签-" + ViewBag.tagName;
}
@model IEnumerable<BaWuClub.Web.Dal.ViewArticle>
<div class="container">
    <div class="container-left fleft">
        <div class="question-wrap">
            <div class="title-tags"><a>@ViewBag.tagName </a></div>
            <ul class="question-wrap-list">
                @{
                    foreach (var viewArticle in Model)
                    {
                        <li>
                            <div class="cover-wrap fleft">
                                <a href="/member/u-@viewArticle.UserId/show">
                                    @{
                                        var cover = "/content/images/no-img.jpg";
                                        var time = BaWuClub.Web.Common.HtmlCommon.GetTimeSpan(viewArticle.VarDate ?? DateTime.Now);
                                        var context = BaWuClub.Web.Common.HtmlCommon.ClearHtml(viewArticle.Context);
                                        context = context.Length > 150 ? context.Substring(0, 149) : context;
                                        if (!string.IsNullOrEmpty(viewArticle.UserCover))
                                        {
                                            cover = "/uploads/avatar/small/" + viewArticle.UserCover;
                                        }
                                    }
                                    <img src="@cover" alt="头像" />
                                </a>

                            </div>
                            <div class="question-detail">
                                <p class="q-detail-top"><a href="/member/u-@viewArticle.UserId/show">@viewArticle.NickName</a><span class="fright">@time</span></p>
                                <h3><a href="/column/show/@viewArticle.Id">@viewArticle.Title</a></h3>
                                <p class="q-detail-desc">@context</p>
                                <p class="q-detail-top">
                                    <span class="fleft">
                                        标签:@{
                                            if (viewArticle.Tags != null && viewArticle.TagIds != null)
                                                {
                                                    var tags = viewArticle.Tags.Split(',');
                                                    var tagIds = viewArticle.TagIds.Split(',');
                                                    for (int i = 0; i < tags.Length; i++)
                                                    {
                                                        <a href="/column/tags/@tagIds[i]" class="tag-show">@tags[i]</a>
                                                    }
                                                }
                                            } 浏览:@viewArticle.Views
                                            </span>
                                </p>
                            </div>
                        </li>
                    }
                }
            </ul>
            <div class="page-wrap">
                @Html.Raw(ViewBag.PageStr)
            </div>
        </div>
    </div>
    <div class="container-right fright">
        @{
            Html.RenderPartial("~/views/shared/_PartialRightListHotArticles.cshtml");
            Html.RenderPartial("~/views/shared/_PartialRightListHotQuestions.cshtml");
        }
    </div>
</div>
