@{
    Layout = "~/areas/bwum/views/shared/_indexlayout.cshtml";
}

@model IEnumerable<BaWuClub.Web.Dal.ViewTopicIndex>
<div class="comm-btns">
    <h2>全部帖子(Topics)</h2>
    <div class="comm-btns-wrap">
        <a class="comm-btn0 iconfont icon-shuaxin" href="#" onclick="window.location.reload()"></a>
    </div>
</div>

<div id="notic-wrap">
    @Html.Raw(ViewBag.statusStr)
</div>
<form name="form" id="form" method="post">
    <table>
        <thead>
            <tr>
                <td><input type="checkbox" id="chk-all" onclick="cheakall(this)" /></td>
                <td>Id</td>
                <td>标题</td>
                <td>浏览量</td>
                <td>发帖者</td>
                <td>时间</td>
                <td>更多操作</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (BaWuClub.Web.Dal.ViewTopicIndex a in Model)
                    {
                        <tr>
                            <td><input type="checkbox" name="chk" value="@a.Id" /></td>
                            <td>@a.Id</td>
                            <td>@a.Title</td>
                            <td>@a.Views</td>
                            <td>@a.NickName</td>
                            <td>@a.VarDate</td>
                            <td><a data-href="#/forum/show/@a.Id">查看</a>
                                <a onclick="ajaxdelete('/forum/del/',@a.Id)">删除</a></td>
                        </tr>
                    }
                }

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    @Html.Raw(ViewBag.PageHtmlStr)
                </td>
            </tr>
        </tfoot>
    </table>
</form>