@{
    Layout = "~/areas/bwum/views/shared/_indexlayout.cshtml";
}
@model BaWuClub.Web.Dal.TopicCategory
<div class="comm-btns">
    <h2>讨论区分类编辑(Discuss Edit)</h2>
    <a class="btn-back iconfont icon-chexiao" href="#/discuss/index">返回讨论区分类列表</a>
</div>
@Html.Raw(ViewBag.StatusStr)
<div id="input-wrap">
    @{
        string _actionStr = "/bwum/discuss/create";
        string _inputStr = string.Empty;
        if (Model != null && Model.Id != null && Model.Id > 0)
        {
            _actionStr = "/bwum/discuss/edit";
            _inputStr = "<input name=\"id\" value=\"" + Model.Id + "\" type=\"hidden\"/>";
        }
    }
    <form method="post" name="frame" action="@_actionStr">
        <p>
            <span>名称：</span>
            <input name="name" value="@Model.Name" type="text" class="input-text input-small" />
            @Html.Raw(_inputStr)
        </p>
        <p>
            <span>变量：</span>
            <input name="variable" value="@Model.Variable" type="text" class="input-text input-small" />
        </p>
        <p>
            <span>描述：</span>
            <textarea name="description" class="input-text input-long" style="height:150px;">@Model.Description</textarea>
        </p>
        <p>
            <span>图片：</span>
            <input name="cover" type="hidden" value=""/>
        </p>
        <p>
            <input class="btn btn-confirm" type="submit" value="提交" />
        </p>
    </form>
</div>