@{
    Layout = "~/areas/bwum/views/shared/_indexlayout.cshtml";
    ViewBag.CssAppend = "<link href=\"/content/fonts/category.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}
<link href="~/content/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
@model BaWuClub.Web.Dal.TopicCategory
<div class="comm-btns">
    <h2>讨论区分类编辑(Discuss Edit)</h2>
    <a class="btn-back iconfont icon-chexiao" href="#/discuss/index">返回讨论区分类列表</a>
</div>
@Html.Raw(ViewBag.StatusStr)

<div id="input-wrap">
    @{
        string _actionStr = "/bwum/discuss/create";
        string _inputStr = string.Empty;
        if (Model != null && Model.Id != null && Model.Id > 0)
        {
            _actionStr = "/bwum/discuss/edit";
            _inputStr = "<input name=\"id\" value=\"" + Model.Id + "\" type=\"hidden\"/>";
        }
    }
    <form method="post" name="frame" action="@_actionStr">
        <p>
            <span>名称：</span>
            <input name="name" value="@Model.Name" type="text" class="input-text input-small" />
            @Html.Raw(_inputStr)
        </p>
        <p>
            <span>变量：</span>
            <input name="variable" value="@Model.Variable" type="text" class="input-text input-small" />
        </p>
        <div class="upload-b-wrap">
            <span>封面：</span>
            @{
                if (!string.IsNullOrEmpty(Model.Cover))
                {
                    <div class="cover-wrap">
                        <img src="~/uploads/topics/pics/@Model.Cover" alt="" height="100" />
                        <input value="@Model.Cover" type="hidden" name="pic" />
                        <a href="#" class="pic-del">删除</a>
                    </div>
                    <div class="upload-wrap" style="display:none;">
                        <input name="pic" value="" type="file" class="input-text input-middle" id="upload" />
                    </div>
                }
                else
                {
                    <div class="upload-wrap">
                        <input name="pic" value="" type="file" class="input-text input-middle" id="upload" />
                    </div>
                    <div class="cover-wrap"></div>
                }
            }
        </div>
        <p>
            <span>描述：</span>
            <textarea name="description" class="input-text input-long" style="height:150px;">@Model.Description</textarea>
        </p>
        <p>
            <span>图标：</span>
            @{
                var icon = Model.Icon;
                if (!string.IsNullOrEmpty(icon))
                {
                    <i class="font-category @icon"></i>
                }
                else { 
                    <a href="#" class="select-icon">选择分类的图标</a>
                }
            }
            <input name="icon" type="hidden" value="@icon" id="icon"/>
        </p>
        <p>
            <input class="btn btn-confirm" type="submit" value="提交" />
        </p>
    </form>
</div>
<div class="icons-wrap">
    <div class="icons-title"><span style="float:left;">分类图标</span>
    <a title="关闭" style="border:1px solid #666;border-radius:50%;display:block;width:18px;height:18px;text-align:center;line-height:18px;cursor:pointer;float:right;" onclick="closeiconwarp()">X</a></div>
    <ul>
        <li>
            <a class="font-category icon-chuangyejiaoliu" data-icon="icon-chuangyejiaoliu"></a>
        </li>
        <li>
            <a class="font-category icon-dianshangfuwushang" data-icon="icon-dianshangfuwushang"></a>
        </li>
        <li>
            <a class="font-category icon-dianshanghuodong" data-icon="icon-dianshanghuodong"></a>
        </li>
        <li>
            <a class="font-category icon-faburenwu" data-icon="icon-faburenwu"></a>
        </li>
        <li>
            <a class="font-category icon-jianyifankui" data-icon="icon-jianyifankui"></a>
        </li>
        <li>
            <a class="font-category icon-dianshangzatan" data-icon="icon-dianshangzatan"></a>
        </li>
        <li>
            <a class="font-category icon-kefujiaoliu" data-icon="icon-kefujiaoliu"></a>
        </li>
        <li>
            <a class="font-category icon-luntangonggao" data-icon="icon-luntangonggao"></a>
        </li>
        <li>
            <a class="font-category icon-qiuzhizhaopin" data-icon="icon-qiuzhizhaopin"></a>
        </li>
        <li>
            <a class="font-category icon-qiuzhuwenda" data-icon="icon-qiuzhuwenda"></a>
        </li>
        <li>
            <a class="font-category icon-sheyingsheji" data-icon="icon-sheyingsheji"></a>
        </li>
        <li>
            <a class="font-category icon-shichangtuiguang" data-icon="icon-shichangtuiguang"></a>
        </li>
        <li>
            <a class="font-category icon-taobaotianmao" data-icon="icon-taobaotianmao"></a>
        </li>
        <li>
            <a class="font-category icon-zhaotaobaoke" data-icon="icon-zhaotaobaoke"></a>
        </li>
        <li>
            <a class="font-category icon-cangchupeisong" data-icon="icon-cangchupeisong"></a>
        </li>
    </ul>
    <input type="button" value="确定" style="border:none;color:#fff;font-size:16px;padding:8px 35px;background:#ff6a00;cursor:pointer;border-radius:3px;" onclick="confirmselected()" />
</div>
<script type="text/javascript" src="~/content/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $("#upload").uploadify({
        height: 30,
        width: 120,
        buttonText: '选择头像',
        swf: '/content/uploadify/uploadify.swf',
        uploader: '/fileupload/uploadfiles',
        formData: { "type": "topic" },
        overrideEvents: ['onSelectError', 'onDialogClose'],
        onSelectError: function (file, errorCode, errorMsg) {
            switch (errorCode) {
                case -100:
                    alert("您好目前只能上传1张图片！");
                    break;
                case -110:
                    alert("您好上传文件不能大于1M！");
                    break;
                case -120:
                    alert("您好文件大小异常！");
                    break;
                case -130:
                    alert("您好文件类型异常！");
                    break;
            }
            return false;
        },
        onUploadSuccess: function (file, data, response) {
            var obj = jQuery.parseJSON(data);
            $(".upload-wrap").hide();
            $(".cover-wrap").html("<img src=\"/uploads/topics/pics/" + obj.name + "\" height=\"100\"/><input value=\"" + obj.name + "\" type=\"hidden\" name=\"pic\"/><a href=\"#\" class=\"pic-del\">删除</a>");
        }
    });

    $(document).on("click", ".pic-del", function () {
        $(".upload-wrap").show();
        $(".cover-wrap").empty();
    })
</script>
<style>
    .icons-wrap{position:absolute;width:400px;left:15%;z-index:100;background:#fff;padding:20px;border-radius:5px;border:1px solid #666;display:none;}
    .icons-title {margin:10px 0;}
    .icons-wrap ul{clear:both;margin-top:15px;}
    .icons-wrap ul li {float:left;margin:10px 10px;}
    .icons-wrap ul li a{cursor:pointer;font-size:32px;text-decoration:none;}
    .icons-wrap ul li a.selected{color:#ff6a00}
    .mask-wrap{background:#000;width:100%;height:100%;position:fixed;top:0;left:0;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;z-index:99;}
</style>
<script type="text/javascript">

    $(function () {
        $("a.select-icon").click(function () {
            var styles=seticonwrapalign()
            $("body").append("<div class=\"mask-wrap\"></div>")
            $(".icons-wrap").attr("style",styles);
        });

        $(".icons-wrap ul li a").click(function () {
            $(this).toggleClass("selected");
            $(this).parent("li").siblings("li").children("a").removeClass("selected");
        });

        $(document).on("click", ".mask-wrap", function () {
            //$(".icons-wrap").hide()
            //$(this).remove();
            closeiconwarp();
        });
    })

    function confirmselected() {
        $(".icons-wrap ul li").each(function () {
            if ($(this).children("a").hasClass("selected")) {
                var _class = $(this).children("a").attr("data-icon");
                $("#icon").val(_class);
                $(".select-icon").hide();
                $("#icon").parent().append("<i class=\"font-category "+_class+"\"></i>")
                closeiconwarp();
            }
        });
    }

    function seticonwrapalign() {
        var width = ($("body").width() - 400)
        var height = ($("body").height() - $(".icons-wrap").height())
        return "left:" + (width / 2) + "px !important;top:" + (height / 2) + "px  !important;display:block;";
    }

    function closeiconwarp() {
        $(".icons-wrap").hide()
        $(".mask-wrap").remove();
    }
</script>