@{
    Layout = "~/Areas/bwum/Views/Shared/_layout.cshtml";
}

<div id="layout-wrap">
    <div class="views-wrap">
        <div id="chart-container" class="fleft"></div>
        <div class="views-text">
            <p><span>今日浏览量：</span>@ViewBag.TodayView</p>
            <p><span class="border2">总浏览量：</span>@ViewBag.CountView</p>
        </div>
    </div>
    <div class="views-wrap">
        <div id="user-container" class="fleft"></div>
        <div class="views-text">
            <p><span>今日新用户：</span>@ViewBag.newAccounts</p>
            <p><span class="border2">总用户数：</span>@ViewBag.accounts</p>
        </div>
        <script>
    $(function () {
        $('#user-container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '八五商圈网用户数信息统计'
            },
            tooltip: {
                pointFormat: '{series.}: <b>{series.data[0][1]}</b>'
            },
            series: [{
                type: 'column',
                name: '个',
                data: [
                    ['新用户数',@ViewBag.newAccounts],
                    ['总用户数', @ViewBag.accounts],
                ]
            }]
        });
    });
        </script>

    </div>
    <div class="user-add">
        <div class="view-title">网站用户统计</div>
        <div class="views-text">
            <p><span>新增用户数：</span>@ViewBag.newAccounts</p>
            <p><span class="border2">总用户数：</span>@ViewBag.accounts</p>
        </div>
    </div>
    <div class="topic-add">
        <div class="view-title">论坛帖子统计</div>
        <div class="views-text">
            <p><span>新增帖子数：</span>@ViewBag.newAccounts</p>
            <p><span class="border2">总帖子数：</span>@ViewBag.accounts</p>
        </div>
    </div>
    <div class="article-add">
        <div class="view-title">投稿统计</div>
        <div class="views-text">
            <p><span>今日投稿数：</span>@ViewBag.newAccounts</p>
            <p><span class="border2">总投稿数：</span>@ViewBag.accounts</p>
        </div>
    </div>
</div>
<div style="color:#999;font-size:10px;position:absolute;bottom:60px;padding-left:50px;">
    <i> &copy; www.bawu.com Core: ASP.NET MVC 4.0  Coder:<a href="mail:wesen@gbbweb.cn" target="_blank">WESEN</a></i>
</div>
<script type="text/javascript" src="~/Content/Scripts/highcharts.js"></script>
<script type="text/javascript">
    $(function () {
        $('#chart-container').highcharts({
            title: {
                text: 'BaWu电商网7日浏览量',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: www.xiakexing.cn',
                x: -20
            },
            xAxis: {
                categories: [@ViewBag.Categories]
            },
            yAxis: {
                title: {
                    text: '浏览的次数'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '次'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: '浏览的次数',
                data: [@ViewBag.Series]
            }]
        });
    });
</script>