@{
    Layout = "~/views/shared/_layout.cshtml";
    ViewBag.Title = "电商圈-拉帮结派";
    ViewBag.CssAppend = "<link href=\"/content/css/discuss.css\" type=\"text/css\" rel=\"stylesheet\"/>";
    ViewBag.CssAppend += "<link href=\"/content/bxslider/jquery.bxslider.css\" type=\"text/css\" rel=\"stylesheet\"/>";
}
<div class="cli-banner">
    <ul class="bxslider">
        @{
            var banners = ViewBag.banners;
            if (banners != null)
            {
                foreach (var banner in banners as IEnumerable<BaWuClub.Web.Dal.ViewBanner>)
                {
                    <li>
                        <div style="background:url(/Uploads/banner/@banner.Pic) no-repeat center center;background-size:100% 100%" class="cli-banner-item-bg"></div>
                        <div class="cli-banner-item-wrap">
                            <a href="#">
                                <img src="~/Uploads/banner/@banner.Pic" />
                            </a>
                        </div>
                    </li>
                }
            }
        }
    </ul>
</div>

<div class="container">
    <div class="container-left fleft">
        <div class="cli-activity">
            <div class="cli-title">
                <div class="fleft">
                    <strong>活动</strong>
                    <a href="#">进行中</a>
                    <a href="#">已过期</a>
                </div>
                <a href="/forum/topiclist?type=activity" title="查看更多" class="fright">更多</a>
            </div>
            <ul>
                @{
                    var topics = ViewBag.topics as IEnumerable<BaWuClub.Web.Dal.TopicIndex>;
                    if (topics != null)
                    {
                        foreach (var topic in topics)
                        {
                            var cover =( string.IsNullOrEmpty(topic.TopicActivity.Cover) ? "/Content/Images/no-img.jpg" : topic.TopicActivity.Cover);
                            var address=(string.IsNullOrEmpty(topic.TopicActivity.Address)?"":(topic.TopicActivity.Address.Length>14?topic.TopicActivity.Address.Substring(0,13):topic.TopicActivity.Address));
                            <li>
                                <div class="cli-ac-item-cover">
                                    <a href="/forum/activity/@topic.Id"><img src="@cover" /></a>
                                </div>
                                <div class="cli-ac-item-info">
                                    <h3><a href="/forum/activity/@topic.Id">@topic.Title</a></h3>
                                    <p>时间:@(((DateTime)topic.TopicActivity.StartDate).ToString("yyyy年MM月dd日"))</p>
                                    <p>地址:@address</p>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="cli-c-banner">
            <img src="~/Content/Images/b-2.jpg" alt=""/>
        </div>
        <div class="cli-task">
            <div class="cli-title">
                <div class="fleft">
                    <strong>任务</strong>
                    <span>目前点商圈共有 @ViewBag.taskCount 个任务</span>
                </div>
                <a href="/forum/topiclist?type=task" title="查看更多" class="fright">更多</a>
            </div>
            <ul>
                @{
                    var tasks = ViewBag.tasks as IEnumerable<BaWuClub.Web.Dal.ViewTopicTask>;
                    if (tasks != null)
                    {
                        foreach (var task in tasks)
                        {

                            var cover = (string.IsNullOrEmpty(task.Cover) ? "/Content/Images/no-img.jpg" : "/uploads/avatar/small/"+task.Cover);
                            var context = BaWuClub.Web.Common.HtmlCommon.ClearHtml(task.Context);
                            context = (string.IsNullOrEmpty(context) ? "" : (context.Length > 40 ? context.Substring(0, 39) : context));
                            <li>
                                <div class="cli-task-item-cover">
                                    <a href="/member/u-@task.UserId/show"><img src="@cover" /></a>
                                </div>
                                <div class="cli-task-item-info">
                                    <h3><a href="/forum/task/@task.Id">@task.Title</a></h3>
                                    <p>@context</p>
                                    <p><span>@task.VarDate.ToString("yyyy年MM月dd日")</span></p>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="container-right fright">
        <div class="cli-btns">
            <a href="/forum/SponsorActivity" class="btn-org">发起活动</a>
            <a href="/forum/SponsorTask" class="btn-blue">发布任务</a>
        </div>
        <div class="cli-task-list">
            <div class="cli-title">
                <strong>已解决任务</strong>
            </div>
            <ul>
                @{
                    var tasksed = ViewBag.tasked as IEnumerable<BaWuClub.Web.Dal.ViewTopicTask>;
                    if (tasksed != null) {
                        foreach(var task in tasksed){
                            <li><a href="/forum/task/@task.Id">@task.Title</a></li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="forum-r-banner">
            @{
                var bannerRight = ViewBag.bannerRight as BaWuClub.Web.Dal.ViewBanner;
                if (bannerRight != null)
                {
                   <img src="~/Uploads/banner/@bannerRight.Pic" />
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="~/content/bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".bxslider").bxSlider({
             controls:false
        });
    })
</script>
